h1{
    margin: auto;
    text-align: left;
    text color: red;
    display: block;
    text-align: center;
    font-size: 50px;



}
.arae {

    box-shadow: 2px 2px 2px black ; 
    width: 100% ;
    padding-top: 4% ;
    padding-bottom: 4% ;
    margin: auto ;

}

div.slopeicon  {
    display: block;
    background-color: green;
    margin: auto;
    width: 85%;
    height:900px;
    padding-left: 30px;
    padding-right: 30px;
    position:relative;
    
  }

img {
    display: block;
    margin: auto;
    width: 100px ;
    height: 100px ;
     box-shadow: -2px -2px -2px -2px ;
    float: center;
    padding: 400px

}


    
button{

    font-size: 40px ;
    font-weight: 600 ;
    color: whitesmoke;
    background-color:dodgerblue ;
    padding: 15px 15px ;
    display: block;
    text-align: center;
    margin:auto ;
    border-radius: 300px;
}
/* #ball{

    float: right;
} */
