h1{
    margin: auto;
    text-align: left;
    text color: red;
    display: block;
    text-align: center;
    font-size: 50px;



}


div.slopeicon  {
    display: block;
    background-color: green;
    margin: auto;
    width: 85%;
    height:800px;
    padding-left: 30px;
    padding-right: 30px;
    position:relative;
    margin-top: 0px;
    
  }

   img {
    display: block;
    padding-left: 620px;
    padding-top: 380px;
    width: 6%;

}


    
button{

    font-size: 40px ;
    font-weight: 600 ;
    color: whitesmoke;
    background-color:dodgerblue ;
    padding: 15px 15px ;
    display: block;
    text-align: center;
    margin:auto ;
    border-radius: 300px;
}

/* #ball{

    float: right;
} */
