h1,h2,h3,h4{
    margin: auto;
    text-align: left;
    color:black;
    display: block;
    text-align: center;
    font-size: 50px;
    text-shadow: 1px 1px 1px ;
    text
}

.area {

    background-color: beige;
}
div.slopeicon  {
    display: none;
    margin: auto;
    width: 85%;
    height:800px;
    padding-left: 30px;
    padding-right: 30px;
    position:relative;
    margin-top: 0px;
    background-image: url("finals.jpg");
    
  }

   img {
    display: block;
    padding-left: 686px; /* i chosed this numberes to start the ball at the center of the stadium*/
    padding-top: 380px;
    width:3%;

}
div.image{
    width: 90%;
    height: 0px;
  

}


    
button{

    font-size: 40px ;
    font-weight: 600px ;
    text-shadow: 1px 1px 1px;
    color:black;
    background-color:greenyellow ;
    padding: 15px 15px ;
    display: block;
    text-align: center;
    margin:auto ;
    border-radius: 50px;
}


