h1,h2,h3,h4{
    margin: auto;
    text-align: left;
    color:black;
    display: block;
    text-align: center;
    font-size: 50px;
    text-shadow: 1px 1px 1px ;
    text
}

.area {

    background-color: beige;
}


  .ballgame { 
    margin-left: 100px;
    display: block;
  }
.btt{
    display: block;
}
button{

    font-size: 40px ;
    font-weight: 600px ;
    text-shadow: 1px 1px 1px;
    color:black;
    background-color:greenyellow ;
    padding: 15px 15px ;
    display: block;
    text-align: center;
    margin:auto ;
    border-radius: 50px;
}